* {margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  width: 1152px;
  max-width: 90%;
  margin: 0 auto;
}

nav {
  background: rgb(41, 197, 41);
  color: #fff;
  padding: 2rem;


}