* {margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  width: 1152px;
  max-width: 90%;
  margin: 0 auto;
}

nav {
  background: rgb(41, 197, 41);
  color: #fff;
  padding: 2rem;
}


section.input {
  padding-top: 100px;
}

h2 {
  text-align: center;
  font-size: 36px;
}

.form__wrap {
  display: flex;
  justify-content: center;
}

.input__wrap {
  display: flex;
  align-items: center;
  border: 1px solid #ddd
}

input {
  border: none;
  padding: 10px;
  padding: 0.5rem;
  min-width: 400px;
  outline: none;
}


button {
  background: rgb(41, 197, 41);;
  color: #fff;
  height: 100%;
  font-size: 16px;
  padding: 0 20px;
  cursor: pointer;
}